<template>
    <div class="" style="margin-top:20px;">
        <div class="row">
            <div class="form-group col-lg-6">
                <label>تاریخ شروع</label>
                <date-picker v-model="start"></date-picker>
                <input name="date_booking_start" type="hidden" v-model="start">
            </div>
            <div class="form-group col-lg-6">
                <label>تاریخ پایان</label>
                <date-picker v-model="end" :disabled="!start" :min="start" max="1399/06/31"></date-picker>
                <input name="date_booking_end" type="hidden" v-model="end">
            </div>
        </div>
    </div>
</template>
<script>
    import VuePersianDatetimePicker from 'vue-persian-datetime-picker'
    export default {
        data() {
            return {
                start: '',
                end: '',
            }
        },
        computed:{
            testcomputed(){
                return 'salam';
            }
        },
        props: ['name'],
        components: {
            datePicker: VuePersianDatetimePicker
        }
    }
</script>
