<template>
    <form :action="href" method="POST" style="">
        <input type="hidden" name="_token" :value="csrf">
        <h1 class="titr">وارد کردن اطلاعات اتاق</h1>
        <hr>
        <div class="row">
            <div class="form-group col-lg-4">
                <label>نوع رزرو</label>
                <select name="reserve_type" class="form-control">
                    <option value="2">آنلاین</option>
                    <option value="1">استعلام</option>
                    <option value="0">عدم قابلیت رزرو</option>
                </select>
                <input type="hidden" class="form-control" name="نام هتل" disabled>
                <input type="hidden" class="form-control" name="hotel_id" v-model="hotel_id">
                <input type="hidden" class="form-control" name="admin_created" v-model="admin_created">
                <input type="hidden" class="form-control" name="admin_updated" v-model="admin_updated">
            </div>
            <div class="form-group col-lg-4">
                <label>نوع اتاق</label>
                <input type="text" class="form-control" name="otagh_type" required>
            </div>
            <div class="form-group col-lg-4">
                <label>نوع تخت</label>
                <input type="text" class="form-control" name="bed_type" required>
            </div>
            <div class="form-group col-lg-4">
                <label>تعداد افراد</label>
                <input type="text" class="form-control" name="person_number" required>
            </div>
            <div class="form-group col-lg-4">
                <label>قیمت</label>
                <input type="text" class="form-control" name="price" required>
            </div>
            <div class="form-group col-lg-4">
                <label>قیمت با تخفیف</label>
                <input type="text" class="form-control" name="discount_price" required>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="form-group col-lg-4">
                <label>تخت اضافه</label>
                <input @click="more_bed= !more_bed" type="checkbox">
                <input :value="more_bed ? 0:1" type="hidden" name="more_bed">
            </div>
            <div class="form-group col-lg-4" :class="{dis : more_bed}">
                <label>تعداد تخت اضافه</label>
                <input type="text" class="form-control" name="bed_number">
                <small class="form-text text-muted">تعداد تختی که قابلیت اضافه کردن را دارد انتخاب کنید</small>
            </div>
            <div class="form-group col-lg-4" :class="{dis : more_bed}">
                <label>هزینه تخت اضافه</label>
                <input type="text" class="form-control" :class="{dis : more_bed}" name="bed_price">
                <small class="form-text text-muted">هزینه اضافه شده به ازای هر تخت را وارد کنید.</small>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="form-check col-lg-4">
                <label>کودک</label>
                <input @click="koodak= !koodak" type="checkbox" value="1">
                <input :value="koodak ? 0:1" type="hidden" name="child">
            </div>
            <div class="form-group col-lg-4" :class="{dis : koodak}">
                <label>تعداد کودک</label>
                <input type="text" class="form-control" name="child_number">
                <small class="form-text text-muted">تعداد کودکی که قابلیت اضافه شدن را دارد مشخص کنید.</small>
            </div>
            <div class="form-group col-lg-4" :class="{dis : koodak}">
                <label>هزینه کودک</label>
                <input type="text" class="form-control" name="child_price">
                <small class="form-text text-muted">هزینه اضافه شده به ازای هر کودک را وارد کنید.</small>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="form-check col-lg-4">
                <label>صبحانه رایگان</label>
                <select name="breakfast" class="form-control">
                    <option value="0">دارد</option>
                    <option value="1">ندارد</option>
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label>صبحانه</label>
                <input type="text" class="form-control" name="breakfast_price">
                <small class="form-text text-muted">هزینه اضافه شده به ازای صبحانه را وارد کنید.</small>
            </div>
            <div class="form-group col-lg-4">
                <label>ناهار</label>
                <input type="text" class="form-control" name="lunch_price">
                <small class="form-text text-muted">هزینه اضافه شده به ازای ناهار را وارد کنید.</small>
            </div>
            <div class="form-group col-lg-4">
                <label>شام</label>
                <input type="text" class="form-control" name="dinner_price">
                <small class="form-text text-muted">هزینه اضافه شده به ازای شام را وارد کنید.</small>
            </div>
            <div class="form-check col-lg-12">
                <label>در صورت نبود اطلاعات در یک تاریخ این اطلاعات جایگزین شود؟</label>
                <select class="form-control" name="sample_data">
                    <option value="1">بله</option>
                    <option value="0">خیر</option>
                </select>
            </div>
            <div class="form-check col-lg-12" style="margin-top: 20px">
                <label class="form-check-label" for="defaultCheck1">
                    راهنما مطالعه شده است؟
                </label>
            </div>
            <button class="btn btn-danger mb-5 mr-2" value="submit" type="submit">ارسال</button>
        </div>
    </form>
</template>

<script>
    export default {
        props: {
            hotel_id: {default: '1'},
            admin_created: {default: '1'},
            admin_updated: {default: '1'},
            post_route: {default: '1'}
        },
        name: "Home",
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                href: '/store',
                more_bed: true,
                koodak: true
            }
        }
    }
</script>

<style scoped>
</style>
