<template>
        <form :action="href" method="POST" style="">
            <input type="hidden" name="_token" :value="csrf">
            <h1 class="titr">وارد کردن اطلاعات هتل</h1>
            <hr>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label>نام هتل</label>
                    <input type="text" class="form-control" name="title_hotel" required>
                </div>
                <div class="form-group col-lg-4">
                    <label>شهر</label>
                    <select class="form-control" name="city_hotel">
                        <option value="1">بله</option>
                        <option value="0">خیر</option>
                    </select>
                </div>
                <button class="btn btn-danger mb-5 mr-2" value="submit" type="submit">ارسال</button>
            </div>
        </form>
</template>

<script>
    export default {
        props: {
            hotel_id: {default: '1'},
            admin_created: {default: '1'},
            admin_updated: {default: '1'},
            post_route: {default: '1'}
        },
        name: "Home",
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                href:'/store',
                more_bed: true,
                koodak: true
            }
        }
    }
</script>

<style scoped>
</style>
