<template>
    <div style="width:16vw;">
        <div style="position: fixed;width: 16vw;text-align: center;">
            <router-link class="nav-item nav-link" :to="{name:'home'}">خانه</router-link>
            <router-link class="nav-item nav-link" :to="{name:'hotel'}">هتل</router-link>
            <transition name="fade">
            <router-link v-if="show" class="nav-item nav-link" :to="{name:'otagh'}">اتاق</router-link>
            <router-link v-if="show" class="nav-item nav-link" :to="{name:'date'}"> تاریخ</router-link>
            </transition>
            <router-link class="nav-item nav-link" :to="{name:'reserve'}"> رزرو</router-link>
            <router-link class="nav-item nav-link" :to="{name:'buy'}">خرید</router-link>
            <router-link class="nav-item nav-link" :to="{name:'user'}"> کاربران</router-link>
            <router-link class="nav-item nav-link" :to="{name:'admin'}">پنل مدیریت</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Navbar",
        data() {
            return {
                show: true
            }
        }
    }
</script>

<style scoped>
</style>
